@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

.type {
  width: 100%;
  height: 45px;
  border: none;
  outline: none;
  border-radius: 5px;
  font-size: 16px;
  padding-left: 15px;
  box-shadow: 0px 0px 0px 1px rgba(0, 0, 0, 0.1);
  background-color: #f6f8fa;
  font-family: "Poppins", sans-serif;
  transition: all 120ms ease-out 0s;
}

.container {
  width: 167vh;
  background: #ffffff;
  border-radius: 0.5rem;
  box-shadow: 0px 0px 0px 1px rgba(0, 0, 0, 0.1),
    0px 5px 12px -2px rgba(0, 0, 0, 0.1), 0px 18px 36px -6px rgba(0, 0, 0, 0.1);
  overflow: hidden;
  margin-left: 20px;
  margin-top: 20px;
  padding: 5px;
}

.container .title {
  padding: 25px;
  background: #f6f8fa;
}

.container .title p {
  font-size: 18px;
  font-weight: 500;
  position: relative;
}

.container .title p::before {
  content: "";
  position: absolute;
  bottom: -10px;
  left: 0;
  width: 60px;
  height: 3px;
  background: linear-gradient(to right, #f37a65, #d64141);
}

.user_details {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: 20px;
  padding: 25px;
}

.user_details .input_box {
  width: calc(100% / 2 - 20px);
  margin: 0 0 12px 0;
    cursor: pointer;
 
}

.input_box label {
  font-weight: 500;
  margin-bottom: 5px;
  display: block;
}

.input_box label::after {
  content: " *";
  color: whitesmoke;
}

.input_box input {
  width: 100%;
  height: 45px;
  border: none;
  outline: none;
  border-radius: 5px;
  font-size: 14px;
  padding-left: 15px;
  box-shadow: 0px 0px 0px 1px rgba(0, 0, 0, 0.1);
  background-color: #f6f8fa;
  font-family: "Poppins", sans-serif;
  transition: all 120ms ease-out 0s;
  cursor: pointer;
}

.input_box input:focus,
.input_box select:focus {
  box-shadow: 0px 0px 0px 2px #ac8ece;
}

.reg_btn {
  padding: 25px;
  margin: 15px 0;
}

.reg_btn input {
  height: 45px;
  width: 100%;
  border: none;
  font-size: 18px;
  font-weight: 500;
  cursor: pointer;
  background: black;
  border-radius: 5px;
  color: #ffffff;
  letter-spacing: 1px;
  text-shadow: 0px 2px 2px rgba(0, 0, 0, 0.2);
}

.reg_btn input:hover {
  background: rgb(33, 33, 33);
}

input[type="submit"]:disabled {
  background-color: #d3d3d3; /* Light gray background */
  color: #a9a9a9; /* Dark gray text */
  cursor: not-allowed; /* Not-allowed cursor */
  border: 1px solid #a9a9a9; /* Dark gray border */
  opacity: 0.6; /* Slightly transparent */
}

.alert-success{
  width: 50rem;
  margin: auto;
  padding: 15px;
  font-size: 12px;
  margin-top: 15px;
}

.close {
  background-color: transparent;
  opacity: .7;
  border: 1px solid black;
  position: absolute;
  right: 0;
  margin-right: 20px;
  padding: 2px;
}

@media screen and (max-width: 1164px) {
  
.alert-success{
  width: 30rem;
  margin: auto;
}

.close {
  margin-right: 40px;
}
}