<div class="container">
  <div class="row mt-3">
    <div class="col-md-8">
      <div class="title">
        <p>Change Password</p>
      </div>
    </div>
    <div class="col-md-12">
      <form (ngSubmit)="onSubmit()" [formGroup]="passwordForm" class="password-form">
        <mat-form-field appearance="fill">
          <mat-label>New Password</mat-label>
          <input matInput type="password" formControlName="newPassword" required>
          <mat-error *ngIf="passwordForm.get('newPassword')?.hasError('required')">
            Password is required
          </mat-error>
          <mat-error *ngIf="passwordForm.get('newPassword')?.hasError('minlength')">
            Password must be at least 6 characters long
          </mat-error>
        </mat-form-field>

        <mat-form-field appearance="fill">
          <mat-label>Confirm Password</mat-label>
          <input matInput type="password" formControlName="confirmPassword" required>
          <mat-error *ngIf="passwordForm.get('confirmPassword')?.hasError('required')">
            Confirmation is required
          </mat-error>
          <mat-error *ngIf="passwordForm.hasError('mismatch')">
            Passwords do not match
          </mat-error>
        </mat-form-field>

        <button mat-raised-button color="primary" type="submit" [disabled]="passwordForm.invalid">
          Change Password
        </button>
      </form>

    </div>
  </div>
</div>
