<div class="container">
  <div *ngIf="successAlert"
    class="alert alert-success alert-dismissible fade show" role="alert">
    <strong>Success!</strong> Successfully added
    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="row">
    <div class="row col-md-12 mt-3">
      <div class="col-md-8">
        <h2>User List</h2>
      </div>
      <div class="col-md-4">
        <button class="mr-1" mat-flat-button color="primary"
          (click)="exporter.exportTable('xlsx', {fileName: 'Sales List'})">Export
          Report</button> &nbsp;
        <button mat-flat-button color="primary" (click)="printPage()">Print
          Report</button>
      </div>
    </div>
    <div *ngIf="deleteAlert"
      class="alert alert-success alert-dismissible fade show" role="alert">
      <strong>Success!</strong> Successfully Deleted
      <button type="button" class="close" data-dismiss="alert"
        aria-label="Close">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <div class="col-md-12">
      <table matTableExporter #exporter="matTableExporter" mat-table
        [dataSource]="dataSource" class="mat-elevation-z8">
        <!-- Define Columns -->
        <ng-container matColumnDef="id">
          <th mat-header-cell *matHeaderCellDef> S.No </th>
          <td mat-cell *matCellDef="let element; let i = index"> {{i + 1}} </td>
        </ng-container>

        <ng-container matColumnDef="name">
          <th mat-header-cell *matHeaderCellDef> Name </th>
          <td mat-cell *matCellDef="let element"> {{element.name }} </td>
        </ng-container>

        <ng-container matColumnDef="username">
          <th mat-header-cell *matHeaderCellDef>Username</th>
          <td mat-cell *matCellDef="let element"> {{element.username}} </td>
        </ng-container>

        <!-- <ng-container matColumnDef="password">
            <th mat-header-cell *matHeaderCellDef>Password</th>
            <td mat-cell *matCellDef="let element"> {{element.password}} </td>
          </ng-container> -->

        <ng-container matColumnDef="mobileno">
          <th mat-header-cell *matHeaderCellDef>Mobile</th>
          <td mat-cell *matCellDef="let element"> {{element.mobileno}} </td>
        </ng-container>

        <ng-container matColumnDef="pincode">
          <th mat-header-cell *matHeaderCellDef> Pincode</th>
          <td mat-cell *matCellDef="let element"> {{element.pincode}} </td>
        </ng-container>

        <!-- Actions Column -->
        <ng-container matColumnDef="actions">
          <th mat-header-cell *matHeaderCellDef> Actions </th>
          <td mat-cell *matCellDef="let element">
            <button mat-icon-button [routerLink]="'../add-user/'+element.id">
              <mat-icon class="editIcon">edit</mat-icon>
            </button>
            <button mat-icon-button (click)="deleteElement(element)">
              <mat-icon class="deleteIcon">delete</mat-icon>
            </button>
          </td>
        </ng-container>

        <!-- Define Header and Rows -->
        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
      </table>
      <mat-paginator [pageSize]="10" [pageSizeOptions]="[5, 10, 25, 100]"
        showFirstLastButtons></mat-paginator>
    </div>
  </div>
</div>
